@font-face {
  font-family: 'iconfont'; /* Project id 2956893 */
  src: url('iconfont.eot?t=1640757996022'); /* IE9 */
  src: url('iconfont.eot?t=1640757996022#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('iconfont.woff2?t=1640757996022') format('woff2'),
    url('iconfont.woff?t=1640757996022') format('woff'), url('iconfont.ttf?t=1640757996022') format('truetype'),
    url('iconfont.svg?t=1640757996022#iconfont') format('svg');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-mine:before {
  font-family: 'iconfont';
  content: '\e63d';
}

.el-icon-help-document:before {
  font-family: 'iconfont';
  content: '\e63c';
}

.el-icon-search:before {
  font-family: 'iconfont';
  content: '\e63b';
}

.el-icon-error:before {
  font-family: 'iconfont';
  content: '\e63a';
}

.el-icon-success:before {
  font-family: 'iconfont';
  content: '\e639';
}

.el-icon-warning:before {
  font-family: 'iconfont';
  content: '\e638';
}

.el-icon-d-caret:before {
  font-family: 'iconfont';
  content: '\e635';
}

.el-icon-bell:before {
  font-family: 'iconfont';
  content: '\e634';
}

.el-icon-date:before {
  font-family: 'iconfont';
  content: '\e633';
}

.el-icon-arrow-down:before {
  font-family: 'iconfont';
  content: '\e632';
}

.el-icon-more:before {
  font-family: 'iconfont';
  content: '\e631';
}

.el-icon-close:before {
  font-family: 'iconfont';
  content: '\e62e';
}

.el-icon-lock:before {
  font-family: 'iconfont';
  content: '\e62d';
}

.el-icon-download:before {
  font-family: 'iconfont';
  content: '\e62c';
}

.el-icon-user:before {
  font-family: 'iconfont';
  content: '\e62b';
}

.el-icon-arrow-right:before {
  font-family: 'iconfont';
  content: '\e62a';
}

.el-icon-arrow-left:before {
  font-family: 'iconfont';
  content: '\e629';
}

.el-icon-minus:before {
  font-family: 'iconfont';
  content: '\e627';
}

.el-icon-plus:before {
  font-family: 'iconfont';
  content: '\e625';
}

.el-icon-edit:before {
  font-family: 'iconfont';
  content: '\e624';
}

.el-icon-folder:before {
  font-family: 'iconfont';
  content: '\e622';
}

.el-icon-rank:before {
  font-family: 'iconfont';
  content: '\e621';
}

.el-icon-tip:before {
  font-family: 'iconfont';
  content: '\e620';
}

.el-icon-s-tools:before {
  font-family: 'iconfont';
  content: '\e61f';
}

.el-icon-refresh:before {
  font-family: 'iconfont';
  content: '\e61e';
}

.el-icon-copy-document:before {
  font-family: 'iconfont';
  content: '\e61d';
}
